<?xml version="1.0"?>
<model>
  <name>iarc_obstacle</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Rendell Cale</name>
   <email>rendellc@ascendntnu.no</email>
  </author>

  <description>
      This is a basic model of an obstacle robot which moves in a circle around the origin. 
      Probably has bugs. 
      NOTE: The simulation is actually unstable because it uses Eulers method on a system with imaginary poles, but
      in practice it diverges pretty much as fast as the moons orbit around the earth.
  </description>
</model>

