<?xml version="1.0"?>

<model>
  <name>Wood Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rendell Cale</name>
    <email>rendellc@ascendntnu.no</email>
  </author>

  <description>
	  Modification of ground plane by Nate Koenig
  </description>
</model>
